  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  

* {
  font-family: Ojuju;
  font-weight: bolder;
  color: black;
}

body {
  margin-left: 20px;
  margin-top: 20px;
  border: solid 3px black;
  padding: 10px;
}


  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #702082;
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
    color: rrgb(14, 80, 14)
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    background: rgb(111, 158, 111);
    color: white;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
    font-family: ojuju;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #226d24;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #19521b;
  }

  button[type="reset"] {
    margin-top: 10px;
  }